@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');
html, body{
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}
*{
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
}
nav{
    position: absolute;
    left: 0;
    top: 0;
     width: 100%;
     height: 152px;
     background: rgb(255, 255, 255)
}
.logoSite{
    float: left;
    width: 120px;
}
/* configuração navegação */

nav a{
    display: block;
    width: auto;
    height: 80px;
    padding: 4px;
    float: left;
    line-height: 53px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 17px;
    font-style: oblique;
    line-height: 109px;
}
/* regras dos conteudos */
main{
    padding: 80px 10px;
}

.homeArticle{
    width: 40%;
    background: rgb(255, 255, 255);
    margin: 15px 2%;
    border-radius: 9px;
    box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.5);
    padding: 16px;
    display: inline-block;
    min-height: 215px;
}
.homeArticle img{
    float: left;
    margin-right: 10px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
}
.homeArticle h2{
    font-size: 19px;
    text-transform: uppercase;
    color: #170c53
}
.homeArticle p{
    font-style: italic;
    min-height: 80px;
    
}
.homeArticle a{
   /* Tamanho */
    width: 100px;
   display: block;
   position: relative;
   left: 50%;
   margin-left: -50px;
   padding: 4px;
  /* Alinhamento */
   text-align: center;
   text-decoration: none;
   color: #ffffff;
   background: rgb(49, 19, 123);
   border-radius: 5px;

}
.homeArticle a:hover{
    background: rgb(14, 8, 72);
    box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.5);
    padding: 5px;
    border-radius: 15px;
}
body{
    background: rgb(227, 225, 225);
}
/* estilos so carousel */
.carousel{
    width: 100%;
    background: rgb(255, 255, 255);
    overflow: hidden;
}
/* cada um vai ter 23 de tamanho */
.carousel li{
    list-style: none;
}
.carousel li img{
   float: left;
   margin: 1%;
   width: 23%;
}
footer{
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0;
    background: rgb(49, 19, 123);
}
footer span{
    display: inline-block;
    width: 48%;
    padding: 10px;
    color: rgb(255, 255, 255);
}
footer .assinatura{
    text-align: right;
}
footer .assinatura a{
    color: rgb(50, 91, 225);
    text-decoration: none;
}