html, body{
    margin: 0;
    padding: 0;
}
nav{
    position: absolute;
    left: 0;
    top: 0;
     width: 100%;
     height: 160px;
     background: #c90e49
}
.logoSite{
    float: left;
    width: 150px;
}
nav a{
    display: block;
    width: auto;
    height: 56px;
    padding: 4px;
    float: left;
    line-height: 53px;
    color: #fff;
    text-decoration: none;
}